.custom-arrow {
    z-index: 2;
  }
  
  .custom-prev-arrow {
    left: 5px !important;
  }
  
  .custom-next-arrow {
    right: 5px !important;
  }
  
  .custom-arrow svg {
    transition: transform 0.3s;
  }
  
  .custom-arrow:hover svg {
    transform: scale(1.2);
  }
  /* Custom Dot Styles */
.slick-dots li button:before {
    color: grey; /* Set the color of the dots to grey */
  }
  
  .slick-dots li.slick-active button:before {
    color: white; /* Set the color of the active dot to white */
  }
  /* Hover animation */
.relative:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  